
<!DOCTYPE html>
<html lang="en">
  <head>
 
	<title>Request Form</title>

   

	<script src="bootstrap/js/bootstrap.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/dropdown.js"></script>
	<script src="bootstrap/js/jquery.min.js"></script>


	
  </head>

  <body>

   <style>
		{% include "bootstrap/css/bootstrap.min.css" %}
		{% include "bootstrap/css/bootstrap.css" %}
		{% include "bootstrap/css/signin.css" %}
		{% include "bootstrap/css/collapse.css" %}
		
	</style>

	
   

	<div class="container">

	  <form action="/post_new/" method="post" enctype="multipart/form-data" class="form-request">

		<h2 class="form-request-heading">BTL : Requests</h2><br>
	


		Enter City (hold Ctrl to select more than one)
		<label for="inputCity" class="sr-only">Select City to be shipped to</label><br>
			<select multiple class="form-control" id="optCity" name="city" required>
				{% for city in all_cities %}
				<option value="{{city.city_name}}">{{city.city_name}}</option>
				{% endfor %}
			</select><br>   

		
		Provide the POC email address
		<label for="inputEmail" class="sr-only">POC Email address</label><br>
		<input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email address" required><br>
		
		Select the request type
		<label for="inputRequest" class="sr-only">Request Type</label><br>
		<select class="form-control" id="optRequest" name="rtype" required>
			{% for rtype in all_rtype %}
			<option value="{{rtype.rtype_name}}">{{rtype.rtype_name}}</option>
			{% endfor %}
			 
		</select> <br>
		
		Select Language
		<label for="inputLang" class="sr-only">Language</label><br>
		<select class="form-control" id="optLanguage" name="lang" required>
			{% for lang in all_lang %}
			<option value="{{lang.lang_name}}">{{lang.lang_name}}</option>
			{% endfor %}
		</select> <br>
		
		Any special instructions you wish to provide ?
		<label for="inputInst" class="sr-only">Special instructions</label><br>
		<!-- <textarea name="instruct" cols="40" rows="5" id="inputInst" class="form-control" placeholder="Enter Instructions" ></textarea><br> -->
		<input type="text" id="inputInstruct" name="instruct" class="form-control" placeholder="Instruction" required><br>

		


		Select the type, subtype and specification of BTL required
		<br><br>

			
	
		<div style="border:1px solid black; padding:25px;">

		{% for btl in all_BTL %}
			<u><h3>{{btl.BTL_name}}</h3></u> <br>

			{% for item in all_item %}
				{% if item.item_BTL.id == btl.id %}
					<b>{{item.item_name}}</b> <br>
						{% for specs in all_specs %}
							{% if specs.specs_item.id == item.id %}
								
									<input type="radio" name="specs" value="{{specs.specs_name}}"> &nbsp;&nbsp;&nbsp;{{specs.specs_name}}&nbsp;&nbsp;
									Enter qty: <input type="number" id="{{specs.specs_name}}" name="qty" style="width:30px;">
			
								<br><br>

								
								
							{% endif %}
						{% endfor %}
						
				{% endif %}
			{% endfor %} <br>
		{% endfor %} 

		</div> <br>

		
		<!-- Quantity of packages
		<label for="inputQty" class="sr-only">Reqd Quantity</label><br>
		<input type="number" id="inputQty" name="qty" class="form-control" placeholder="Enter the required quantity" required><br>
 -->

			<br><br>

		<center><input type="submit" name="submit" value="SUBMIT" class="btn"></center><br>



	
		<!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button> -->
		<!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button> -->
	  </form>
	  	

	




	</div> <!-- /container -->





<script type="text/javascript" language="JavaScript">
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
</script>




  </body>
</html>
